.nav,
.tab-pane {
  color: white;
  width: 87%;
  min-width: 500px;
  display: flex;
  border: none;
}

p {
  color: black;
}
.nav-link.active {
  background-color: #77a300 !important;
  color: white !important;
  font-weight: 600 !important;
}
.nav-link {
  border: none !important;
  background-color: #dddddd;
  color: #333333 !important;
  width: 121px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 0px !important;
}
.nav-tabs {
  margin-top: 68px;
}
.tab-content > .active {
  display: flex;
}
